/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }
    .nav{
        &__menu{
            padding-bottom: 4rem;
        }
        &__list{
            gap: 1rem 1.25rem;
        }
    }

    .home{
        &__content{
            grid-template-columns: .25fr 3fr;
        }
        &__blob{
            width: 180px;
        }
    }

    .skills__info{
        grid-template-columns: repeat(2, 1fr);
    }

    .projects__img{
        width: 200px;
        justify-self: center;
    }

}

/* For medium devices */
@media screen and (min-width: 576px){
    .nav,
    .nav__menu{
        width: 380px;
    }
    .nav{
        margin: 0 auto;
    }
    .home{
        &__content{
            grid-template-columns: max-content 1fr 1fr;
        }
        &__data{
            grid-column: initial;
        }
        &__img{
            order: 1;
            justify-self: center;
        }
    }

    .skills__container{
        justify-content: center;
    }

    .projects__container{
        width: 400px;
    }

    .projects__container{
        overflow: hidden;

        & .swiper-button-prev{
            left: 1rem;
        }
        & .swiper-button-next{
            right: 1rem;
        }
    }

    
}

@media screen and (min-width: 767px){
    .home{
        &__blob{
            width: 500px;
        }
    }
    .home{
        &__container{
            row-gap: 5rem;
        }
        &__content{
            padding-top: 5.5rem;
            column-gap: 2rem;
        }
        &__blob{
            width: 270px;
        }
        &__scroll{
            display: block;

            &-button{
                margin-left: 3rem;
            }
        }
    }
    .skills__container{
        grid-template-columns: repeat(2, max-content);
    }

    .skills__container{
        column-gap: 5rem;
    }

    .projects__container{
        width: 500px;
    }

    .contact__container{
        grid-template-columns: repeat(2, max-content);
    }

    .contact{
        &__form{
            width: 360px;
        }
        &__container{
            justify-content: center;
            column-gap: 8rem;
        }

        &__button{
            justify-self: auto;
        }
    }
}

/* For large devices */
@media screen and (min-width: 1023px){
    .header{
        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .4s;
    }
    .nav{
        width: initial;
        height: calc(var(--header-height) + 1.5rem);
        box-shadow: none;
        border-radius: 0;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
        
        &__link i,
        &__toggle,
        &__close{
            display: none;
        }
        &__menu{
            width: initial;
            margin-left: auto;
            background-color: var(--body-color);
            transition: background .4s;
        }
        &__list{
            display: flex;
            column-gap: 3rem;
        }
        &__link{
            font-size: var(--normal-font-size);
        }
    }

    .section{
        padding-block: 8rem 0rem;
    }

    .home{
        &__blob{
            width: 320px;
        }

    }

    .skills{
        &__container{
            column-gap: 10rem;
        }
        &__title{
            margin-bottom: 3rem;

            & i{
                font-size: 1.25rem;
            }
        }
        &__name{
            font-size: var(--normal-font-size);
        }
        &__info{
            gap: 3rem;
        }
    }

    .projects{
        &__container{
            width: 900px;

            & .swiper-button-prev,
            & .swiper-button-next{
                font-size: 3rem;
            }

            & .swiper-button-prev{
                left: -1rem;
            }
            & .swiper-button-next{
                right: -1rem;
            }
            & .swiper-slide{
                margin-bottom: 6.5rem;
            }
        }
        &__img{
            width: 320px;
            margin-bottom: 2rem;
        }
    }

    .contact{
        &__title{
            margin-bottom: 3rem;
            
            & i{
                font-size: 1.25rem;
            }
        }
        &__info{
            row-gap: 3rem;
        }
        &__data-info{
            font-size: var(--normal-font-size);
        }
        &__form{
            row-gap: 2.5rem;
        }
    }

    .footer{
        &__container{
            padding: 4rem 0 3rem;
        }
        &__list{
            column-gap: 3rem;
            margin: 3rem 0;
        }
        &__social{
            column-gap: 2rem;
            
            &-link{
                font-size: 1.5rem;
            }
        }
        &__copy{
            margin-top: 5rem;
        }
    }

}

@media screen and (min-width: 1048px){
    .container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px){
    .section{
        &__border{
            padding-bottom: 6rem;
        }
        &__subtitle{
            margin-bottom: 5rem;
        }
    }

    .home{
        &__blob{
            width: 320px;
        }
        &__social{
            transform: translateX(-6rem);
        }
    }

}