:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --second-color: hsl(257, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);

    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                      hsla(207, 48%, 72%, 0),
                      hsla(207, 65%, 65%, 1));

    /*========== Font and typography ==========*/

    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    // Responsive typography
    @media screen and (min-width: 1024px){
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;

    &__border{
        border-bottom: 1px solid var(--title-color);
        padding-bottom: 3.5rem;
    }
    &__title,
    &__subtitle{
        text-align: center;
    }
    &__title{
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
        margin-bottom: .25rem;
    }
    &__subtitle{
        display: block;
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        margin-bottom: 3rem;
    }
}

/*=============== THEME ===============*/
.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);

    &:hover{
        background-color: var(--text-color-light);
    }

    &__icon{
        font-size: 1.25rem;
        margin-left: 5px;
        transition: .3s;
    }
    &--white{
        background-color: #FFF;
        color: var(--first-color);

        &:hover{
            background-color: #FFF;
        }
    }
    &--flex{
        display: inline-flex;
        align-items: center;
    }
    &--small{
        padding: .75rem 1rem;
    }
    &--link{
        padding: 0;
        background-color: transparent;
        color: var(--first-color);

        &:hover{
            background-color: transparent;
            color: var(--first-color);
        }
    }
}
